@model NoteViewModel;
<div class="m-2">
    <div class="row">
        <div style="background-color:#000; border-top-left-radius:10px; border-top-right-radius:10px;display:flex; justify-content:space-between" class="pl-1 col-md-4 text-light">
            <h5 class="m-1">@Html.DisplayFor(x => Model.Name)</h5>
            <div class="d-flex">
                <a class="m-2" style="color:white;" asp-action="Editar" asp-route-id="@Model.Id"><i class="fa fa-edit"></i></a>
                <a class="m-2" style="color:white;" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="overflow:auto;" class="rounded bg-light text-dark col-md-4 text-dark">
            <p style="padding:2px;" class="text-wrap">@Html.Raw(Model.Content)</p>
            <div class="row justify-content-end">
                <small class="text-muted mr-2 font-italic">@Html.DisplayFor(x => Model.BornFormatted)</small>
            </div>
        </div>
    </div>
</div>
