@model NoteViewModel;
@{
    ViewData["Title"] = "Editando nota";
    Layout = "_LayoutCRUD";
}
<div class="container mt-5 p-2 rounded">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark">
                <div class="card-header text-center text-white mt-2">
                    <h3>Edite sua nota</h3>
                </div>
                <div class="card-body text-white">
                    <form method="post" asp-action="Editar" id="formCadastro">
                        @{
                            @Html.TextBoxFor(x => x.UserId, new { value = (uint)ViewData["user_id"], hidden = true })
                            @Html.TextBoxFor(x => x.Born, new { value = DateTime.Now, hidden = true })
                            @Html.TextBoxFor(x => x.Id, new { value = (uint)ViewData["note_id"], hidden = true })
                        }
                        <div class="mb-3">
                            <label for="nome" class="form-label">Titulo</label>
                            @Html.TextBoxFor(x=> x.Name, new {@class = "form-control", id="titulo", placeholder="Digite o titulo"})
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Conteudo</label>
                            @Html.TextAreaFor(x => x.Content, new { @class = "form-control", id="summernote", name="descricao"})
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-between">
                            <button type="button" style="border-radius: 15px;" onclick="location.href='/Note/index'" class="btn btn-warning text-white"><i class="fa fa-arrow-left"></i></button>
                            <div>
                                <button type="reset" class="btn btn-danger me-md-2">Limpar</button>
                                <button type="submit" class="btn btn-warning text-white">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
