@model NoteViewModel;
@{
    ViewData["Title"] = "Edit";
    Layout = "_LoggedLayout";
}
<div class="bg-light p-5">
    <div class="container-index">
        <div style="margin-top:-10vh;border-radius:100px;background-image: linear-gradient(#fff,#b5b5b5c2); width:150vh;box-shadow: rgb(255, 255, 255, 0,24) 0px 3px 8px;"
             class="login-card">
            <div class="row m-2">
                <div class="col-md-12">
                    <h5>Altere uma ideia existente.</h5>
                </div>
            </div>
            <div style="width:100vh" class="itens">
                <form method="post" asp-action="Editar">
                    <div class="row mt-2">
                        <div class="col-md-12 text-white font-weight-bold">
                            <p>Mude o nome da sua Note</p>
                            @{
                                @Html.TextBoxFor(x => x.UserId, new { value = (uint)ViewData["user_id"], hidden = true})
                                @Html.TextBoxFor(x => x.Born, new{value = DateTime.Now, hidden = true})
                                @Html.TextBoxFor(x => x.Id, new { value = (uint)ViewData["note_id"], hidden = true })
                            }

                            @Html.TextBoxFor(x => x.Name, new{Placeholder="Nome", @class="form-control"})
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-white font-weight-bold">
                            @Html.TextAreaFor(x => x.Content, new { Placeholder = "Conteudo", @class = "form-control summernote" })
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-warning mt-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        $('.summernote').summernote();
    });
</script>